<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.7.19/dist/vuetify.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="https://fonts.bunny.net/css?family=roboto:400,500,700" />
  <script type="importmap">
    {
      "imports": {
        "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
        "vuetify": "https://cdn.jsdelivr.net/npm/vuetify@3.7.19/dist/vuetify.esm.js",
        "api_url": "./api_url.js"
      }
    }
    </script>
  <style>
    [v-cloak] {
      display: none;
    }
    .v-btn {
      margin-bottom: 20px;
    }
  </style>
  <title>Anagram Solver</title>
  <link rel="manifest" href="anagram.webmanifest" />
</head>

<body>
  <v-layout v-cloak id="app">
    <v-app theme="light">
      <v-app-bar density="compact" color="#009688">
        <v-app-bar-title style="user-select:none;">Anagram Solver</v-app-bar-title>
      </v-app-bar>
      <v-main>
        <v-container fluid>
          <v-text-field clearable v-on:keyup.enter="solveanagram" label="Letters to anagram" v-model="source"
            hint="This is the string you want to solve the anagram for"></v-text-field>
          <v-btn @click="solveanagram" :disabled="processing || source.length===0">Solve</v-btn>
          <v-card v-if="solutions.length>0">
            <v-card-title>Solutions for {{frozenSource}}</v-card-title>
            <v-card-text>
              <v-list :items="solutions"></v-list>
            </v-card-text>
          </v-card>
          <v-alert v-if="message">{{message}}</v-alert>
        </v-container>
      </v-main>
    </v-app>
  </v-layout>

  <script type="module">
    // imports
    import { createApp, ref, computed } from "vue"
    import { createVuetify } from "vuetify"
    import api_url from "api_url"

    // use vuetify for UI
    const vuetify = createVuetify()

    // create Vue.js app
    createApp({

      mounted() {
        if (window.location.hash){
          //there is stuff there.. submit the form!
          var str = decodeURIComponent(window.location.hash.substring(1))
          str = str.replace(/[^a-zA-Z]/g," ")
          console.log(str)
          this.source = str
          this.solveanagram()

        }
        
      },

      setup() {
        // app state
        const source = ref('')
        const solutions = ref([])
        const frozenSource = ref('')
        const url = api_url
        const processing = ref(false)
        const message = ref('')

        async function solveanagram() {
          processing.value = true
          message.value = ''
          solutions.value = []
          //console.log(source.value)
          frozenSource.value = source.value
          window.location.hash=encodeURIComponent(frozenSource.value) // put it in the URL
          var result = await fetch(url + "?" + new URLSearchParams({ clue: source.value }).toString())
          solutions.value = await result.json()
          if (solutions.value.length === 0) {
            message.value = "No solutions found for " + frozenSource.value
          }
          processing.value = false
        }
        // make state available
        return {
          source,
          frozenSource,
          solutions,
          solveanagram,
          processing,
          message
        }
      }
    }).use(vuetify).mount('#app')

  </script>
</body>

</html>