node_modules
lambda.zip
crash.log
dictionary*.json
anagramSolutions*.json
mostpopular*
anagrams.db
anagrams.csv
top50*
todo.txt
test.js
functionassets/
*.zip
.terraform
terraform.tfvars
terraform.tfstate
terraform/terraform.tfstate.backup
combined.txt
totals.json
api_url.js